<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Tortuga - Sign in</title>
</head>
<body>
    <div class="text-center" style="padding:50px 0">
        <div class="logo">Login</div>
        <div class="login-form-1">

            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}

            <form action="" id="login-form" class="text-left">
                {% csrf_token %}
                <div class="login-form-main-message"></div>
                <div class="main-login-form">
                    <div class="login-group">
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.username.error }}
                            <label for="lg_username" class="sr-only">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.password.error }}
                            <label for="lg_password" class="sr-only">Password</label>
                            {{ form.password }}
                        </div>
                        <div class="form-group login-group-checkbox">
                            <label for="lg_remember">remember</label>
                            {{ form.remember }}
                        </div>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-check">
                        <button class="btn btn-info" type="button" name="showpassword" id="showpassword" value="Show Password">Show password</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class="etc-login-form">
                    <p>forgot your password? <a href="{% url 'password_reset' %}">click here</a></p>
                    <p>new user? <a href="{% url 'register' %}">create new account</a></p>
                </div>
            </form>

	    </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/show-password.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>